/* grid toggle icon */
.InputfieldCroppableImage .InputfieldImageListToggle {
    float: right;
    padding-right: 1em;
    }

#content .InputfieldCroppableImage .langTabs {
    margin-bottom: 0;
    }

/* size info crop tooltip */
.cropInfo {
    position: absolute;
    font-size: .8em;
    font-weight: normal;
    bottom: 0;
    right: 0;
    padding: 0 .5em;
    height: 1.5em;
    line-height: 1.5em;
    color: #FFF;
    text-shadow: 0 0 2px rgba(0,0,0,.2);
    background: rgba(0,0,0,.3);
    }

    .InputfieldCroppableImage .editCroppableItem input {
        width: 100%;
        }


/* .InputfieldFileItem (when dragged) */
.InputfieldCroppableImage .InputfieldFileList .ui-sortable-helper {
    box-shadow:
        0 5px 15px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.25);
    border: 1px solid rgba(0, 0, 0, 0.3);
    }

    /* ajax upload */
    .InputfieldCroppableImageList .AjaxUpload {
        width: auto !important;
        height: auto !important;
    }

/* info bar paragraph (sort, trashcan, info etc) */
.InputfieldCroppableImage .croppableItem .InputfieldItemHeader,
.InputfieldCroppableImage .InputfieldFileItem .InputfieldItemHeader {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    padding: 0 0 0 .5em;
    line-height: 25px;
    height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

    /* item background no thumbnail */
    .InputfieldCroppableImageGrid .InputfieldImage .InputfieldItemHeader,
    .InputfieldCroppableImageFull .InputfieldImage .InputfieldItemHeader {
        background: rgba(0,0,0, .2);
        }

    /* info bar paragraph (delete status) */
    .InputfieldCroppableImage .InputfieldFileItem .InputfieldItemHeader.ui-state-error {
        position: relative;
        }

/* icons from info bar */
.InputfieldCroppableImage .InputfieldItemHeader label,
.InputfieldCroppableImage .InputfieldItemHeader a,
.InputfieldCroppableImage li .InputfieldItemHeader a {
    cursor: pointer;
    float: right;
    width: 25px;
    text-align: center;
    padding: 0;
    }

    /* icons from info bar (hover state) */
    .InputfieldCroppableImage .InputfieldItemHeader:hover label,
    .InputfieldCroppableImage li .InputfieldItemHeader:hover a {
        background: rgba(0,0,0,.3);
        }

    /* arrow icons */
    .InputfieldCroppableImage li .InputfieldItemHeader a:hover {
        background: rgba(255,255,255, .3);
        }

    /* trash icon */
    .InputfieldCroppableImage .InputfieldItemHeader label:hover {
        background: #e92003;
        }

    /* arrow icon up & arrow icon down, first FileList item & last FileList item*/
    .InputfieldCroppableImage .editCropItem,
    .InputfieldCroppableImage li:last-child .InputfieldFileMoveBottom,
    .InputfieldCroppableImage li:first-child .InputfieldFileMoveTop {
        display: none;
        }

/* link wrapped around base image */
.InputfieldCroppableImage .InputfieldFileItem .InputfieldFileLink {
    display: block;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
    }

    /* link around image */
    .InputfieldCroppableImageList .InputfieldFileLink {
        background-color: rgba(0, 0, 0, .1);
        }

    /* base image */
    .InputfieldCroppableImageList img.base-image {
        display: block;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
        }

    /* limit image height (list view) */
    .InputfieldCroppableImageFull .base-image.portrait {
        max-height: 800px;
        }

    /* base image (when dragged) */
    .InputfieldCroppableImage .ui-sortable-helper .InputfieldFileLink img.base-image {
        opacity: .75;
        filter: alpha(opacity=75);
        }

/**
 * Thumbnail crop buttons
 *
 */
.InputfieldCroppableImage .crop-button {
    border: 0;
    padding: 0 .5em;
    margin: 0;
    display: inline-block;
    line-height: 1.6em;
    text-align: left;
    float: none;
    font-size: 12px !important;
    border-radius: 5px;
    height: 25px;
    line-height: 25px;
    margin-right: 0.5em;
    margin-top: 0.5em;
    vertical-align: middle;

    }

    .InputfieldCroppableImage .crop-button span {
        color: #FFF;
        font-weight: normal;
        display: inline;
        height: 25px;
        line-height: 25px;
        }

    .InputfieldCroppableImage .crop-button i {
        color: #FFF;
        height: 25px;
        line-height: 25px;
        }

        .crop-button.ui-state-error {
            cursor: help;
        }
/**
 * Crop images tooltip
 *
 */
.croppableTooltip {
    border-radius: 0px;
    box-shadow:
        0 1px 2px rgba(0,0,0,.65),
        0 0 4px rgba(0,0,0,.35);
    border: 0;
    color: #444;
    background: #FFF;
    font-weight: normal;
    text-transform: inherit;
    padding: 0;
    }
    .croppableTooltip.warning {
        padding: .5em;
        }

    .croppableTooltip img {
        display: block;
        margin: 0;
        padding: 0;
        }

/**
 * Admin thumbnails (list view, $this->adminThumb = 1)
 *
 */

.InputfieldCroppableImageThumbs .adminThumb .InputfieldItemHeader {
    position: relative;
    }

    .InputfieldCroppableImageThumbs .InputfieldFileData.CroppableImageContainer  {
        border: 0;
        margin: 0;
        padding: 0;
        position: relative;
        }

    /* container for image  */
    .InputfieldCroppableImageThumbs .CroppableImageContainer .InputfieldFileLink {
        height: 100%;
        position: absolute;
        }

    .InputfieldCroppableImageThumbs .InputfieldFileLink img.base-image {
        display: inline-block;
        vertical-align: middle;
        }

    /* add pseudo element to allow vertical align */
    .InputfieldCroppableImageThumbs .InputfieldFileLink:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        }

    .InputfieldCroppableImageThumbs img.base-image.landscape {
        max-width: 100%;
        height: auto;
        }

    .InputfieldCroppableImageThumbs img.base-image.portrait {
        max-height: 100%;
        width: auto;
        }

/**
 * Grid
 *
 */


.InputfieldCroppableImageGrid .InputfieldFileList {
    padding-bottom: 1em;
}

.InputfieldCroppableImageGrid.InputfieldCroppableImageFull .InputfieldFileItem > div.InputfieldFileData {
    display: none !important;
    }

.CroppableAjaxUpload,
.InputfieldCroppableImageGrid .InputfieldFileList li.InputfieldFileItem {
    display: inline-block;
    vertical-align: top;
    margin: 0 !important;
    position: relative;
    padding: 0;
    border: 0;
    float: left;
    vertical-align: top;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    overflow: hidden;
    min-height: 25px;
    }

    .InputfieldCroppableImageGrid .InputfieldFileList li.InputfieldFileItem * {

    }

    .InputfieldCroppableImageGrid li > .InputfieldFileInfo {
        position: absolute;
        line-height: 25px;
        vertical-align: baseline;
        background: rgba(0,0,0, .3);
        }

        /* Ajax upload div */
        .InputfieldCroppableImageGrid .AjaxUpload {
            float: left;
            margin: 0 !important;
            border-left: 1px solid transparent !important;
            border-top: 1px solid transparent !important;
            box-shadow: 0 0 0 rgba(0,0,0,0);
        }

        /* Ajax upload header */
        .InputfieldCroppableImageGrid .AjaxUpload > .InputfieldFileInfo {
            position: relative;
            display: none;
        }

        /* Ajax upload header with error */
        .InputfieldCroppableImageGrid .AjaxUpload > .InputfieldFileInfo.ui-state-error {
            position: absolute;
            display: block;
            top: 0;
            min-height: 100%;
            font-size: 12px;
        }

        /* Ajax upload header */
        .InputfieldCroppableImageGrid .AjaxUpload .ui-progressbar {
            margin: 0;
            height: 100%;
        }



    .InputfieldCroppableImageGrid .stats-seperator,
    .InputfieldCroppableImageGrid .stats-filesize,
    .InputfieldCroppableImageGrid .InputfieldFileName,
    .InputfieldCroppableImageGrid .InputfieldFileMove,
    .InputfieldCroppableImageGrid .InputfieldFileItem img.base-image,
    .InputfieldCroppableImageGrid .InputfieldFileData.ui-widget {
        display: none;
        }

    .InputfieldCroppableImageGrid .ui-sortable-helper .InputfieldFileLink {
        box-shadow:
            0 5px 15px rgba(0,0,0,.15),
            0 0 5px rgba(0,0,0,.4);
        }

    .InputfieldCroppableImageGrid .InputfieldFileLink {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: relative;
        }

    .InputfieldCroppableImageGrid .InputfieldFileItem .InputfieldItemHeader {
        position: absolute !important;
        }

    .InputfieldCroppableImageGrid .adminThumb .CroppableImageContainer .InputfieldFileLink {
        position: relative;
        }

    /* dimensions */
    .InputfieldCroppableImageGrid .InputfieldFileList li > .InputfieldFileInfo .stats-dimensions {
        opacity: 1;
        text-shadow: 0 0 2px rgba(0,0,0,.5)
        }

    /* hide dimensions on hover */
    .InputfieldCroppableImageGrid li > .InputfieldFileInfo:hover .stats-dimensions {
        display: none;
        }

    .InputfieldCroppableImageGrid .InputfieldFileInfo:hover .editCropItem {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        padding: 0 0.5em;
        left: 0;
        }

        /*.InputfieldCroppableImageGrid .InputfieldFileInfo:hover .editCropItem:hover {
            background: rgba(255,255,255, .3);
            }*/

/* overlay for edit croppable item thumbnail */
.editCroppableItem {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 105;
    background: rgba(255,255,255,.9);
    text-align: center;
    }

    /* needs to have position for .editCroppableItem */
    .InputfieldCroppableImage .InputfieldContent {
        position: relative;
        }

    /* makes it align vertically */
    .editCroppableItem:after {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        }

    /* draggable container */
    .editCroppableItem .croppableItem {
        background: #FFF;
        padding-bottom: 1em;
        box-shadow: 0 0 3px rgba(0,0,0,.35);
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        }

    .editCroppableItem .close-item {
        position: absolute;
        right: 0;
        top: 0;
        }

    /* header from editCroppableItem */
    .InputfieldCroppableImage .editCroppableItem p.InputfieldFileInfo {
        position: relative;
        margin-top: 0;
        padding-right: 30px;
        }

    .InputfieldCroppableImage .croppableItem .InputfieldItemHeader {
        position: relative;
        }

    .InputfieldCroppableImageGrid .croppableItem .stats-seperator,
    .InputfieldCroppableImageGrid .croppableItem .stats-filesize,
    .InputfieldCroppableImageGrid .croppableItem .InputfieldFileName {
        display: inline;
        }

    #content .editCroppableItem .ui-tabs .ui-tabs-nav {
        margin-left: 0;
        padding-left: 1em;
        }

        #content .editCroppableItem .ui-tabs .ui-tabs-nav > li:first-child {
            margin-left: 0;
            }

    .InputfieldCroppableImageGrid .croppableItem .InputfieldData,
    .InputfieldCroppableImageGrid .croppableItem .cropLinks,
    #content .InputfieldCroppableImageGrid .croppableItem .LanguageSupport {
        padding-left:1em;
        padding-right:1em;
        }

    .InputfieldCroppableImageGrid .croppableItem .langTabs > ul {
        display: block;
        }

    .croppableItem.hasLanguageSupport .InputfieldFileInfo {
        margin: 0;
        }
