/**
 *
 * InputfieldCroppableImage.css - v 0.9.0
 *
**/

/* (configurable) overrides to the core imagefield */

    li.ImageOuter,
    .gridImage,
    .gridImage__trash,
    .gridImage__overflow
    { background-color: #f2f6f6 }

    .gridImage { border: 0 none }

    .gridImage__overflow
    { background-image: none }

    .gridImage__overflow > img {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIRJREFUeNqUUkEOwCAIE8OP9hGf6g/ZPDRplCH0okZboVTM7GkB5pzRdestARE59lh7hvxVeQgBehNYZBAhxPueLZ+FSh4sIn7zWimbuLeSEmDCPgnFnNltfjTGCMXVc9g7/waJTYr6vibRS1tJwEteWoBJCEzaAy/rpQr2rFf6X3gFGADTg01sfuB1kAAAAABJRU5ErkJggg==') repeat !important;
    }

    .gridImage__overflow > img.ciThumbnailContain {
        display: block;
        max-width:100%;
        max-height:100%;
        width:auto;
        height:auto;
    }

    .InputfieldCroppableImage .gridImage--active,
    .InputfieldCroppableImage .gridImage--active .gridImage__trash,
    .InputfieldCroppableImage .gridImage--active .gridImage__trash:hover,
    .InputfieldCroppableImage .gridImage--active:hover .gridImage__trash:hover,
    .InputfieldCroppableImage .gridImage--active:hover .gridImage__trash:hover span,
    .InputfieldCroppableImage .gridImage--active:hover .gridImage__trash:hover span:hover
    { background-color: #3eb998; color: white }

    .InputfieldCroppableImage .gridImage--delete,
    .InputfieldCroppableImage .gridImage--delete .gridImage__trash:hover,
    .InputfieldCroppableImage .gridImage--delete:hover .gridImage__trash:hover,
    .InputfieldCroppableImage .gridImage--delete .gridImage__trash
    { background-color: #e83561 }

    .InputfieldCroppableImage .InputfieldImageEditSingle.gridImage--delete .InputfieldImageEdit__inner
    { outline: 3px solid #e83561 }

    .InputfieldCroppableImage .gridImage--delete .gridImage__trash
    { color: white }

    .InputfieldCroppableImage .gridImage--delete,
    .InputfieldCroppableImage .gridImage--delete .gridImage__trash,
    .InputfieldCroppableImage .gridImage--delete .gridImage__trash span,
    .InputfieldCroppableImage .gridImage--delete:hover .gridImage__trash span,
    .InputfieldCroppableImage .gridImage--delete:hover .gridImage__trash:hover span,
    .InputfieldCroppableImage .gridImage--delete:hover .gridImage__trash:hover span:hover
    { color: white }

    .InputfieldCroppableImage .gridImage--active .gridImage__inner
    { background: rgba(62, 185, 152, .5) }

    .InputfieldCroppableImage .gridImage--delete:hover .gridImage__inner
    { background: rgba(232, 53, 97, 0.3) }

    .InputfieldCroppableImage span.InputfieldImageEdit__info
    { color: rgba(0, 0, 0, 0.45) }

    .InputfieldCroppableImage .InputfieldImageEditSingle.gridImage--delete
    { background-color: transparent }

    .InputfieldCroppableImage .gridImage--delete:hover .gridImage__edit
    { display: none }


    .gridImage__tooltip {
        /*transform: translate(-50%, 0);*/
        /*transform: translate(-50%, 0) perspective(0) scale(1);*/
        background: #fafafa;
        opacity: 0;
        transition: opacity .2s 02;
    }
    .gridImage:hover .gridImage__tooltip {
        display: block;
        opacity: 1;
        transition: opacity .2s 1s;
    }
    .gridImage__tooltip table {
        margin: 0;
        border-spacing: 10px 0;
        border-collapse: separate;
    }
    .gridImage__tooltip table th {
        color: rgb(120,120,120);
        font-weight: normal;
        text-align: right;
    }
    .gridImage__tooltip table td {
        color: rgb(25,25,25);
        font-weight: bold;
        text-align: left;
    }



/* additions of the croppable images field */

    hr.spacer { margin: 20px 0 20px 0 }

    table.croppableInspect {
        margin: 0;
        padding: 0;
        border-spacing: 10px 0;
        border-collapse: separate;
        line-height: 1.8em;
        font-size: 1em;
    }
    table.croppableInspect td.croppableInspectName {
        color: rgb(120,120,120);
        font-weight: normal;
        text-align: right;
        vertical-align: top;
    }
    table.croppableInspect td {
        color: rgb(75,75,75);
        font-weight: bold;
        text-align: left;
    }


    input#croppablefilter {
        background: transparent;
        font-size: 0.9em;
    }
    input#croppablefilter:focus {
        background-color: rgba(255,255,255,.75);
    }


    div.croppableImageBasename {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.9em;
        padding: 0 0.6em;
        line-height: 1.5em;
        font-size: 0.75em;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        background-color: rgba(238, 238, 238, 0.6);
        color: rgba(0, 0, 0, 1.0);
        text-shadow: 0 0 2px rgba(255, 255, 255, 1.0);
        overflow: hidden;
        display: none;
        -webkit-box-shadow: 0px -1px 2px -1px rgba(0,0,0,.15);
           -moz-box-shadow: 0px -1px 2px -1px rgba(0,0,0,.15);
                box-shadow: 0px -1px 2px -1px rgba(0,0,0,.15);
    }

    p.croppableImageButtons {
        margin:0 0 0 0;
        padding:0 0 0 0;
        color:rgba(0, 0, 0, 0.3);
        font-weight:bold;
    }

    .InputfieldCroppableImage hr {
        color:rgba(0, 0, 0, 0.1);
        background-color:rgba(0, 0, 0, 0.1);
        border:1px solid rgba(0, 0, 0, 0.1);
    }



    /**
     * Thumbnail crop buttons
     */
    .InputfieldCroppableImage .crop-button {
        border: 0;
        padding: 0 .75em;
        margin: 0;
        display: inline-block;
        line-height: 2em;
        text-align: left;
        float: none;
        font-size: 14px !important;
        border-radius: 5px;
        height: 32px;
        line-height: 32px;
        margin-right: 0.75em;
        margin-top: 0.75em;
        vertical-align: middle;
    }
    .InputfieldCroppableImage .crop-button span {
        font-weight: normal;
        display: inline;
        height: 32px;
        line-height: 32px;
    }
    .InputfieldCroppableImage .crop-button i {
        height: 32px;
        line-height: 32px;
    }
    .crop-button.ui-state-error {
        cursor: help;
    }
    .crop-button.ui-state-error:hover { color: #FFF }


    /**
     * Crop images tooltip
     */
    .croppableTooltip {
        border-radius: 0px;
        box-shadow:
            0 1px 2px rgba(0,0,0,.65),
            0 0 4px rgba(0,0,0,.35);
        border: 0;
        color: #444;
        background: #FFF;
        font-weight: normal;
        text-transform: inherit;
        padding: 0;
        max-width:260px !important;
        max-height:260px !important;
    }
    .croppableTooltip.warning {
        padding: .5em;
    }
    .croppableTooltip img {
        display: block;
        max-width:260px;
        max-height:260px;
        width:auto;
        height:auto;
        margin: 0;
        padding: 0;
    }
    /* size info crop tooltip */
    .cropInfo {
        position: absolute;
        font-size: .8em;
        font-weight: normal;
        bottom: 0;
        right: 0;
        padding: 0 .5em;
        height: 1.5em;
        line-height: 1.5em;
        color: #FFF;
        text-shadow: 0 0 2px rgba(0,0,0,.2);
        background: rgba(0,0,0,.3);
    }


